<h1><%= @pet.name %></h1>
<p><%= @pet.address %></p>
<p><%= @pet.species %></p>
<p><%= @pet.date_lost %></p>

<%= link_to 'edit', edit_pet_path(@pet) %>
<%= link_to 'back', pets_path %>
<%= link_to 'delete', pet_path(@pet), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
